﻿<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="js//jquery.min.js"></script>
<script type="text/javascript" src="js/socket.io-1.3.6.js"></script>
<script type="text/javascript" src="js/jsDraw2D.js"></script>
<script type="text/javascript">
$( document ).ready(function() {

    //Result div
    var $result = $("#result");
	

    //Array of points representing city coordinates
    var points = [];
    var edgeLines = [];
     //Create jsGraphics object
    var gr = new jsGraphics(document.getElementById("canvas"));

    //Create jsColor object
    var col = new jsColor("red");

    //Create jsPen object
    var pen = new jsPen(col,1);

    //Draw an x-y grid to the screen
    gr.setOrigin(new jsPoint(0,690));
    gr.setCoordinateSystem("cartecian"); 
    gr.setScale(5);
    gr.showGrid(10);

	var battleShipGR = new jsGraphics(document.getElementById("battleship"));

    //Draw an x-y grid to the screen
    battleShipGR.setOrigin(new jsPoint(0,450));
    battleShipGR.setCoordinateSystem("cartecian"); 
    battleShipGR.setScale(10);
    battleShipGR.showGrid(1);


	$("#battleship").hide();


	var which = 0; //canvas





    //function to plot every point in an array, points
    function plotPoints(points){ 
        for( i in points){ 
            gr.fillRectangle(new jsColor("blue"),new jsPoint(points[i].x-2,points[i].y+2),2,2);
        }
    }

    function plotBattleShipPoints(points){ 
        for( i in points){ 

			var length = points[i].len;
			var x = points[i].x;
			var y = points[i].y

			if(points[i].orientation == "vertical"){
				for(var k=y; k< y+length; k++){
            		battleShipGR.fillRectangle(new jsColor("blue"),new jsPoint(x,k+1),.5,1);
				}

			}
			else
			{
				for(var k=x; k< x+length; k++){
            		battleShipGR.fillRectangle(new jsColor("blue"),new jsPoint(k,y+.5),1,.5);
				}

			}

        }
    }
    //set up socket.io
    var socket = io.connect();

    //Socket Emits
    $("#ping").on('click', function(){
        $result.text("");
        $("#ping").prop("disabled",true);
        socket.emit("request", {"requestType": "ping"});
    });
    $("#getNumberOfCities").on('click', function(){
        $result.text("");
        $("#getNumberOfCities").prop("disabled",true);
        socket.emit("request", {"requestType": "getNumberOfCities"});
    });
    $("#getCities").on('click', function(){
        $result.text("");
        $("#getCities").prop("disabled",true);
        socket.emit("request", {"requestType": "getCities"});
    });
    $("#greedy").on('click', function(){
        $result.text("");
        $("#greedy").prop("disabled",true);
        socket.emit("request", {"requestType": "greedy"});
    });
    $("#ceis").on('click', function(){
        $result.text("");
        $("#ceis").prop("disabled",true);
        socket.emit("request", {"requestType": "closestEdgeInsertion"});
    });
    $("#genBtn").on('click', function(){
        $result.text("");
        $("#genBtn").prop("disabled",true);
        socket.emit("request", {"requestType": "genetic"});
    });

	$("#dispBattle").on('click', function(){
		if(which == 0){
			$("#canvas").hide();
			$("#battleship").show();
			which = 1;
		}
		else{
			$("#battleship").hide();
			$("#canvas").show();
			which = 0;
		}

	});


    $("#quit").on('click', function(){
        $result.text("");
        $("#quit").prop("disabled",true);
        socket.emit("request", {"requestType": "quit"});
    });

    //Socket Recvs
    socket.on('greeting', function(data){
        $result.text("Connected to Node Server"); 
    });

    socket.on('pong', function(data){
        $("#ping").prop("disabled",false);
        $result.text("Received Reply from Traveling Salesman Server");
    });

    socket.on('numberOfCities', function(data){
        $("#getNumberOfCities").prop("disabled",false);
        $result.text("Number of Cities: "+ JSON.stringify(data.result));
    });

    socket.on('getCities', function(data){
        $result.html("<b>Cities</b>: ");
        var d = data.result;
        $result.append("<br/>[");
        for(var i=0; i<d.length-1; i++){
            var pt = new jsPoint(d[i].x, d[i].y);
            points.push(pt)
            $result.append("<br/>{<span>\"index\" :" + d[i].index + ", \"x\" :" + d[i].x + ", \"y\" :" + d[i].y + "</span>},<br/>");
        }

        var pt = new jsPoint(d[d.length-1].x, d[d.length-1].y);
        points.push(pt)
        $result.append("<br/>{<span>\"index\" :" + d[d.length-1].index + ", \"x\" :" + d[d.length-1].x + ", \"y\" :" + d[d.length-1].y + "</span>}<br/>");
        $result.append("<br/>]");

        plotPoints(points);
        //gr.drawLine(pen,points[0], points[1]);
        $("#getCities").prop("disabled",false);
    });

    socket.on("Begin Simple Greedy Search", function(data){
        $result.text("Beginning Simple Greedy Search");
    });
    socket.on("Begin Closest Edge Insertion Sort", function(data){
        $result.text("Beginning Closest Edge Insertion Search");
    });
    socket.on('step', function(data){
        var x1 = data.x1;
        var y1 = data.y1;
        var x2 = data.x2;
        var y2 = data.y2;
        console.log("step: " + x1 + ", "+y1 + "-->" +x2 + ", " + y2);
        gr.drawLine(pen, new jsPoint(x1,y1), new jsPoint(x2,y2));
    });
    socket.on('ClosestEdgeInsertionStep', function(data){
        var x = data.x;
        var y = data.y;
        console.log("step: " + x + ", "+y);
        gr.fillRectangle(new jsColor("red"),new jsPoint(x,y),2,2);
    });
    socket.on('CEIS', function(data){
        gr.clear();
        gr = new jsGraphics(document.getElementById("canvas"));
        //Create jsColor object
        col = new jsColor("red");
        //Create jsPen object
        pen = new jsPen(col,1);
        gr.setOrigin(new jsPoint(0,690));
        gr.setCoordinateSystem("cartecian"); 
        gr.setScale(6.5);
        gr.showGrid(10);
        plotPoints(points);

        var vertices = data.vertices;
        for(i in vertices){
            gr.fillRectangle(new jsColor("red"), new jsPoint(vertices[i].x, vertices[i].y), 2,2);
        }

        var edges = data.edges;
        for(i in vertices){
            gr.drawLine(pen, new jsPoint(edges[i].x1,edges[i].y1), new jsPoint(edges[i].x2,edges[i].y2));
        }
    });



    socket.on('shipLayout', function(data){
		if(data.generation || data.generation==0){
			$("#result").text("Generation " + data.generation);
		}
		else{ $("#result").text("Unknown Generation");}
        console.log("Received Ship Layout, number of ships = ", data.result.length);
        console.log(JSON.stringify(data));
        battleShipGR.clear();
	    battleShipGR = new jsGraphics(document.getElementById("battleship"));
        battleShipGR.setOrigin(new jsPoint(0,450));
		battleShipGR.setCoordinateSystem("cartecian"); 
		battleShipGR.setScale(10);
		battleShipGR.showGrid(1);

		var arr = {};
		var i;
		for(i=0; i<data.result.length; i++){
			arr[i] = {x:data.result[i].x, y:data.result[i].y, len: data.result[i].len, orientation: data.result[i].orientation};
						
			console.log(i, ': ', data.result[i], '\n');
		}
        plotBattleShipPoints(arr);
    });





    socket.on('route', function(data){
		if(data.generation || data.generation==0){
			//alert(data.generation+1);
			$("#result").text("Generation " + data.generation);
		}
		else{ $("#result").text("Unknown Generation");}
        console.log("Received Route, number of cities = ", data.result.length);
        console.log(JSON.stringify(data));
        gr.clear();
        gr = new jsGraphics(document.getElementById("canvas"));
        //Create jsColor object
        col = new jsColor("red");
        //Create jsPen object
        pen = new jsPen(col,1);
        gr.setOrigin(new jsPoint(0,690));
        gr.setCoordinateSystem("cartecian"); 
        gr.setScale(6.5);
        gr.showGrid(10);
        plotPoints(points);

        var index = 1;
        var result = data.result;
		var i=0;
        for(i=0; i<result.length-1; i++){
			//console.log("x[", i, "] = ", result[i].x, " y[", i, "] = ", result[i].y);
            var obj = result[i];
            gr.fillRectangle(new jsColor("red"), new jsPoint(obj.x, obj.y), 1,1);
            gr.drawLine(pen, new jsPoint(obj.x,obj.y), new jsPoint(result[index].x,result[index].y));
            index++;
        }
        var obj = result[result.length-1];
        gr.fillRectangle(new jsColor("red"), new jsPoint(obj.x, obj.y), 1,1);
        gr.drawLine(pen, new jsPoint(obj.x,obj.y), new jsPoint(result[0].x,result[0].y));       

    });

    //You can also code with inline object instantiation like below
    //gr.drawLine(pen,new jsPoint(40,10),new jsPoint(70,150));

});
</script>
</head>
<body>
<div id="menu">
<button id="ping">Ping Server</button>
<button id="getNumberOfCities">Get Number of Cities</button>
<button id="getCities">Get All Cities</button>
<button id="greedy">Simple Greedy Search</button>
<button id="ceis">Closest Edge Insertion Search</button>
<button id="genBtn">Genetic Search</button>
<button id="dispBattle">Switch TSP / BattleShip</button>
<button id="quit">Quit</button>
</div>
<div id="main" style="clear:right;float:right;">
<div id="canvas" style="overflow:hidden;margin-right:200px;position:relative;width:700px;height:700px;"></div>
</div>
<div >
<div id="battleship" style="overflow:hidden;margin-right:200px;position:relative;width:500px;height:500px;"></div>
</div>
<div style="clear:left;float:left;">
<div id="result">
</div>
</div>
</body>
</html>
